.ac-item-1 {
  bottom: 90.3%;
}

.ac-item-2 {
  bottom: 88%;
}

.ac-item-3 {
  bottom: 85.7%;
}

.ac-item-4 {
  bottom: 83.4%;
}

.ac-item-5 {
  bottom: 81%;
}

.ac-item-total {
  bottom: 78.7%;
}

.ac-item-name {
  left: 6.3%;
  width: 17.4%;
}

.ac-item-bonus {
  left: 25%;
  width: 4.1%;
}

.ac-item-type {
  left: 30.5%;
  width: 6.6%;
}

.ac-item-check-penalty {
  left: 38.5%;
  width: 6.7%;
}

.ac-item-spell-failure {
  left: 46.8%;
  width: 5.9%;
}

.ac-item-weight {
  left: 54.1%;
  width: 4.8%;
}

.ac-item-properties {
  left: 60.4%;
  width: 7.4%;
}