.ac-item-1 {
  bottom: 90.3%;
}

.ac-item-2 {
  bottom: 88%;
}

.ac-item-3 {
  bottom: 85.7%;
}

.ac-item-4 {
  bottom: 83.4%;
}

.ac-item-5 {
  bottom: 81%;
}

.ac-item-total {
  bottom: 78.7%;
}

.ac-item-name {
  left: 6.3%;
  width: 17.4%;
}

.ac-item-bonus {
  left: 25%;
  width: 4.1%;
}

.ac-item-type {
  left: 30.5%;
  width: 6.6%;
}

.ac-item-check-penalty {
  left: 38.5%;
  width: 6.7%;
}

.ac-item-spell-failure {
  left: 46.8%;
  width: 5.9%;
}

.ac-item-weight {
  left: 54.1%;
  width: 4.8%;
}

.ac-item-properties {
  left: 60.4%;
  width: 7.4%;
}

.gear-name {
  left: 6.1%;
  width: 18.3%;
}

.gear-weight {
  left: 25%;
  width: 2.4%;
}

.gear-1 {
  bottom: 72.5%;
}

.gear-2 {
  bottom: 70.7%;
}

.gear-3 {
  bottom: 68.9%;
}

.gear-4 {
  bottom: 66.9%;
}

.gear-5 {
  bottom: 64.9%;
}

.gear-6 {
  bottom: 63.1%;
}

.gear-7 {
  bottom: 61.3%;
}

.gear-8 {
  bottom: 59.5%;
}

.gear-9 {
  bottom: 57.6%;
}

.gear-10 {
  bottom: 55.8%;
}

.gear-11 {
  bottom: 54%;
}

.gear-12 {
  bottom: 52%;
}

.gear-13 {
  bottom: 50%;
}

.gear-14 {
  bottom: 48.2%;
}

.gear-15 {
  bottom: 46.4%;
}

.gear-16 {
  bottom: 44.6%;
}

.gear-17 {
  bottom: 42.7%;
}

.gear-18 {
  bottom: 40.9%;
}

.gear-19 {
  bottom: 39%;
}

.gear-20 {
  bottom: 37.1%;
}

.gear-21 {
  bottom: 35.1%;
}

.gear-22 {
  bottom: 33.3%;
}

.gear-23 {
  bottom: 31.5%;
}

.gear-24 {
  bottom: 29.6%;
}

.gear-25 {
  bottom: 27.8%;
}

.gear-26 {
  bottom: 26%;
}

.gear-total {
  bottom: 24.1%;
}

.feats, .special-abilities {
  left: 29.7%;
  width: 38.7%;
}

#feat-1 {
  bottom: 72.8%;
}

#feat-2 {
  bottom: 70.9%;
}

#feat-3 {
  bottom: 69%
}

#feat-4 {
  bottom: 67.2%;
}

#feat-5 {
  bottom: 65.3%;
}

#feat-6 {
  bottom: 63.4%
}

#feat-7 {
  bottom: 61.6%;
}

#feat-8 {
  bottom: 59.7%;
}

#feat-9 {
  bottom: 57.8%;
}

#feat-10 {
  bottom: 55.9%;
}

#feat-11 {
  bottom: 54.1%;
}

#feat-12 {
  bottom: 52.2%;
}

#special-ability-1 {
  bottom: 46.7%;
}

#special-ability-2 {
  bottom: 44.9%;
}

#special-ability-3 {
  bottom: 43%;
}

#special-ability-4 {
  bottom: 41.1%;
}

#special-ability-5 {
  bottom: 39.3%
}

#special-ability-6 {
  bottom: 37.4%;
}

#special-ability-7 {
  bottom: 35.5%;
}

#special-ability-8 {
  bottom: 33.6%;
}

#special-ability-9 {
  bottom: 31.8%;
}

#special-ability-10 {
  bottom: 29.9%;
}

#special-ability-11 {
  bottom: 28%;
}

#special-ability-12 {
  bottom: 26.1%;
}

#special-ability-13 {
  bottom: 24.2%;
}

#special-ability-14 {
  bottom: 22.4%;
}

#special-ability-15 {
  bottom: 20.5%;
}

#special-ability-16 {
  bottom: 18.7%;
}

#special-ability-17 {
  bottom: 16.8%;
}

#special-ability-18 {
  bottom: 14.9%;
}

#special-ability-19 {
  bottom: 13.1%;
}

#special-ability-20 {
  bottom: 11.1%;
}

.load {
  width: 3.1%;
}

#load-light {
  left: 11.8%;
  bottom: 21.5%;
}

#load-medium {
  left: 11.8%;
  bottom: 19.2%;
}

#load-heavy {
  left: 11.8%;
  bottom: 16.9%;
}

#load-lift-over-head {
  left: 23.6%;
  bottom: 21.5%;
}

#load-lift-off-ground {
  left: 23.6%;
  bottom: 19.2%;
}

#load-drag-push {
  left: 23.6%;
  bottom: 16.9%;
}

.money {
  left: 9.1%;
  width: 17.6%;
}

#money-copper {
  bottom: 12.1%;
}

#money-silver {
  bottom: 10.3%;
}

#money-gold {
  bottom: 8.5%;
}

#money-platinum {
  bottom: 6.7%;
}

.experience {
  bottom: 6.4%;
}

#experience {
  left: 30.8%;
  width: 24.5%
}

#experience-next-level {
  left: 57.3%;
  width: 10.1%
}

.spell-level {
  width: 3%;
}

.spell-level-0 {
  bottom: 87.45%;
}

.spell-level-1 {
  bottom: 85.37%;
}

.spell-level-2 {
  bottom: 83.05%;
}

.spell-level-3 {
  bottom: 80.9%;
}

.spell-level-4 {
  bottom: 78.6%;
}

.spell-level-5 {
  bottom: 76.5%;
}

.spell-level-6 {
  bottom: 74.2%;
}

.spell-level-7 {
  bottom: 72.06%;
}

.spell-level-8 {
  bottom: 69.74%;
}

.spell-level-9 {
  bottom: 67.6%
}

.spell-level-known {
  left: 71.4%;
}

.spell-level-save-dc {
  left: 76.35%;
}

.spell-level-per-day {
  left: 86.62%;
}

.spell-level-bonus {
  left: 91.85%;
}

#spell-conditional-modifiers {
  bottom: 64%;
  left: 71.3%;
  width: 23.3%
}